.Flower{
    display: flex;
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    padding: ;
}
.shajid{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width:708px;
    height:288px;
    grid-area: 20px;
}
.shihab{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width:634px ;
    height:90px ;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
border: none;
width: 120px;
height: 50px;
}

.maisha{
    width: 635px;
    height: 800px;
    padding: 50px 40px 2000px 200px;
}
.roll{
    display: center;
}
.name{color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.your{
    padding-left: 850px;
    display: center;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-family: Lato;
   font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.img-container{
    padding-left: 1%;
    margin: auto;
    display: flex;
 
    border:white ;
    width:1000px;
    height:600px;
}
.img-a{
    padding:24px ;
    width: 370px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
 .img-b{
    padding:24px ;
   width:370px;
   height: 471px;
   border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
 }
 .img-c{
    padding-right: 20px;
    padding:24px ;
    width: 370px;
    height:471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
 }
 .small-img{
display: flex;
padding: left 10px;px;
align-items: center;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
 }
 .rose{
    padding: 90px;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

 }
.rose-small{

    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.rose-smaller{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.red-rose{
  padding: 100px;
  display: center; 
  border-radius: 10px;
  box-position: padding-right

}
.insta{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.insta-box{
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 50px;
margin-top: 10px;
}
.flower-gerden{
    display: flex;
    padding: px;
    width: 342px;
    height: 396px;
    
}
.Flower-a{
    padding: 30px;
}
.Flower-b{
    padding: 30px;
}
.Flower-c{
    padding: 30px;
}

.Flower-d{

    padding: 30px;
}

.your-flower{
    
    width: 1440px;
    height: 449px;
    background-image: url("Rectangle 9.png");
    background-color: ;
    border-radius: 8px;
}
.last-work{
    display: flex;
    width: 1922px;
height: 449px;
flex-shrink: 0;
background: #111010;
}


    
}


.ses-hoy-nah{
    
 display: flex;   
 color: rgba(255, 255, 255, 0.90);
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.arkoto{
    display: flex;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.arakto{
    display: flex;
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}